h1 {
  font-family: Arial, "Times New Roman";
  font-size: 40px;
  font-style: none;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  text-indent: 30px;
  text-transform: none;
  color: #000000;
  word-spacing: 2px;
  line-height: none;
}

h2 {
  font-family: Arial, "Times New Roman";
  font-size: 30px;
  font-style: none;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  text-indent: 30px;
  text-transform: none;
  color: #000000;
  word-spacing: 2px;
  line-height: none;
}

h3 {
  font-family: Arial, "Times New Roman";
  font-size: 40px;
  font-style: none;
  font-weight: 200;
  text-align: center;
  text-decoration: none;
  text-indent: 30px;
  text-transform: none;
  color: ;
  word-spacing: 2px;
  line-height: none;
}

p {
 font-size: 22px;
 line-height: 30px;
 text-indent: 20px;
 text-align: center;
}

a {
 text-decoration: underline;
}


